*{
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"]{
    float: left;
    padding: 15px;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

.section{
    border: 3px solid #0b0c10;
    border-radius: 10px;
    background-color: #1f2833;
}

.year{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.semester{
    padding: 15px;
    width: 33.33%;
    min-width: 285px;
}

.semester.current{
    box-shadow: 0 0 3px 0 #66fcf1 inset;
}

.padding{
    padding: 15px;
}

.slight-padding{
    padding: 2px 0;
}

.no-padding{
    padding: 0;
}

.align-right{
    float: right;
    text-align: right;
}

.centered{
    text-align: center;
}

body{
    background-color: #0b0c10 !important;
    color: #c5c6c7 !important;
    font-family: 'Quicksand', sans-serif !important;
}

a:link{
    color: #66fcf1 !important;
}

a:visited{
    color: #45a29e !important;
}

a:hover > div{
    background-color: #364659;
    cursor: pointer;
}

h1, h2, h3{
    font-weight: lighter;
}

h1, h2, h3, h4, h5, h6{
    color: #66fcf1;
    margin: 0 !important;
}

hr{
    border-color: #c5c6c7;
}

tr.odd{
    background-color: #141a21 !important;
}

tr.even{
    background-color: #1f2833 !important;
}

.sorting_1{
    background-color: inherit !important;
}

.dataTables_info{
    color: #c5c6c7 !important;
}

select, input.login{
    background-color: #141a21;
    border-color: #1f2833;
    border-style: solid;
    border-radius: 10px;
    color: #c5c6c7;
    padding: 8px 12px;
    margin: 8px 0;
}

#planSelect{
    width: 90%;
    padding: 2px 12px;
    margin: 0px;
}

input.login{
    width: 100%
}

input:focus, select:focus, .ui-accordion-header:focus{
    outline: none;
}

input[type="search"]{
    background-color: #141a21;
    border-color: #1f2833;
    border-style: solid;
    border-radius: 10px;
    color: #c5c6c7;
    padding: 8px 12px;
    margin: 8px 0;
}

input[type="submit"], input[type="button"]{
    border: 3px solid #0b0c10;
    border-radius: 10px;
    background-color: #1f2833;
    color: #66fcf1;
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    font-size: 1.17em;
    width: 100%;
    min-width: 100px;
}

input[type="submit"]:hover, input[type="button"]:hover{
    background-color: #364659;
    cursor: pointer;
}

.label{
    color: #66fcf1;
    padding: 0px 12px;
}

.error{
    box-shadow: 0 0 3px 0 red inset;
}

#calculator {
    display: flex;
    flex-direction: column;
}

.course_name {
    display: flex;
    flex-direction: row;
}

.course_delete {
    margin-left: auto;
	max-width: wrap-content;
	max-height: wrap-content;
	align-self: center;
	display: inline-block;
	color: red;
	
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.course_check {
	margin-left: 5px;
    margin-right: 10px;
}

.course_check_x {
	margin-left: 5px;
    margin-right: 10px;
	color:red
}

.course_check_c {
	margin-left: 5px;
    margin-right: 10px;
	color:green
}

.ui-accordion-header{
    background-color: #141a21;
    border-color: #1f2833;
    border-style: solid;
    border-radius: 6px;
}