<div class="row">
    <div class="col-5">
        <h1>Academic Planning</h1>
    </div>
    <div class="col-2">
        <div class="row">
            Name: <%= current_user.login %>
        </div>
        <div class="row" id="major">
            Major:
        </div>
    </div>
    <div class="col-2">
        <div class="row" id="catalogYear">
            Catalog Year:
        </div>
        <div class="row" id="catalogHours">
            Catalog Hours:
        </div>
    </div>
    <div class="col-2">
        <label for="plan">Plan</label><br>
        <select name="plan" id="planSelect" value="" onchange="getCombined(this.value)"></select>
		<input type="button" id="editPlans" value="Edit Plans">
    </div>
    <div class="col-1">
        <img src="/assets/cedarvilleLogo.png" alt="Cedarville University Logo" height="48" width="48" class="align-right"/>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-3">
        <div class="section padding">
            <div class="row">
                <div class="col-12 no-padding">
                    <h3>Courses</h3>
                </div>
            </div>
            <hr>
            <div class="row">
                <div id="accordion">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-9" id="plan">
        
    </div>
	
	<div id="editPlan_dialog" title="Edit Plans">
		<hr>
		<table id="plan_list" style="width:100%">
			  <tr>
				<th>Plan</th>
				<th>Major</th>
				<th>Catalog</th>
				<th></th>
				<th></th>
			  </tr>
		</table>
		<hr>
		<input type="button" id="add_plan" value="Add Plan">
	</div>
	
	<div id="addPlan_dialog" title="Create Plan">
		<form id="addPlan_form">
			<fieldset>
			  <label for="form_name">Name</label>
			  <input type="text" name="plan_name" id="form_name" class="text ui-widget-content ui-corner-all">
			  <label for="form_major">Major</label><br>
			  <select name="major" id="form_major" value="">
			  </select>
			  <label for="form_catalog">Catalog</label><br>
			  <select name="catalog" id="form_catalog" value=""></select>
			</fieldset>
		</form>
	</div>
	
	
</div>
<div class="row">
    <div class="col-3">
        <div class="row">
            <div id="calculator">
                <label for="calc_equation">Equation:</label>
                <br>
                <input type="text" id="calc_equation">
                <br>
                <label for="calc_result">Result:</label>
                <br>
                <input type="text" id="calc_result" readonly>
                <br>
                <input type="button" id="calc_submit" value="Calculate" onclick="calculate();">
                <script>
                    function calculate(){
                        var string = document.getElementById("calc_equation").value;
                        document.getElementById("calc_result").value = eval(string)
                    }
                </script>
            </div>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <%= button_to "Log Out", destroy_user_session_path, :method => :delete %>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
    <div class="col-9">
        <table id="catalog" class="display compact">
        </table>
    </div>
</div>